# Python Introduction ~~~~~ MegaMachine

Source: https://docs.python.org/3.6/tutorial/index.html

Download: https://www.python.org/downloads/release/python-368/

In [ ]:
!python --version

Python 3.6.9

In [ ]:
#This is a comment

In [2]:
help(print)
help(input)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of google.colab._kernel.Kernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

#Help Function ---

In [ ]:
help(help)

Help on _Helper in module _sitebuiltins object:

class _Helper(builtins.object)
 |  Define the builtin 'help'.
 |
 |  This is a wrapper around pydoc.help that provides a helpful message
 |  when 'help' is typed at the Python interactive prompt.
 |
 |  Calling help() at the Python prompt starts an interactive help session.
 |  Calling help(thing) prints help for the python object 'thing'.
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwds)
 |      Call self as a function.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

for **Example**  ---

In [ ]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x) -> floating point number
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(...)
 |      float.__format__(format_spec) -> string
 |
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getformat__(...) from builtins.type
 |      float.__getformat__(typestr) -> string
 |
 |      You probably don't want to use this function.  It exists mainly to be
 |      used in Python's test suite.
 |
 |      typestr must be 'double' or 'float'.  This function returns whichever of
 |      'unknown', 'IEEE, big-endian' or 'IEEE, little-endian' best describes the
 |      format of floating point numbers used by the C type named by typestr.
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(...)
 |      Return the Integral closest to x, rounding half toward even.
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __setformat__(...) from builtins.type
 |      float.__setformat__(typestr, fmt) -> None
 |
 |      You probably don't want to use this function.  It exists mainly to be
 |      used in Python's test suite.
 |
 |      typestr must be 'double' or 'float'.  fmt must be one of 'unknown',
 |      'IEEE, big-endian' or 'IEEE, little-endian', and in addition can only be
 |      one of the latter two if it appears to match the underlying C reality.
 |
 |      Override the automatic determination of C-level floating point type.
 |      This affects how floats are converted to and from binary strings.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(...)
 |      float.as_integer_ratio() -> (int, int)
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original
 |      float and with a positive denominator.
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(...)
 |      Return self, the complex conjugate of any float.
 |
 |  fromhex(...) from builtins.type
 |      float.fromhex(string) -> float
 |
 |      Create a floating-point number from a hexadecimal string.
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  hex(...)
 |      float.hex() -> string
 |
 |      Return a hexadecimal representation of a floating-point number.
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(...)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

#Print function ---

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
print('Sum of',2,'and',3,'is',2+3)

Sum of 2 and 3 is 5

In [ ]:
print('''
This          ----- Line 1     |  A
is            ----- Line 2     |  unique 
multiLine     ----- Line 3     |  way
printing.     ----- Line 4     |  to print.
''')

This          ----- Line 1     |  A
is            ----- Line 2     |  unique
multiLine     ----- Line 3     |  way
printing.     ----- Line 4     |  to print.

In [ ]:
# Default~ sep:   string inserted between values, default a space.
print('Sep','is','placed','in','place','of','these','commas') 
print('Sep','is','placed','in','place','of','these','commas',sep='@')

Sep is placed in place of these commas
Sep@is@placed@in@place@of@these@commas

In [ ]:
# Default~ end:   string appended after the last value, default a newline.
print('This is line 1.')
print('This is line 2.')
print('This is line 3.',end=' ')
print('This is line 4.')
print('This is line 5. End will be placed here -->',end='end')

This is line 1.
This is line 2.
This is line 3. This is line 4.
This is line 5. End will be placed here -->end

#Variable Assignment

In [ ]:
# Single Variable Assignment
a = 3
print('The value of a is',a)

The value of a is 3

In [ ]:
# Multiple Variable Assignment
b,c,d = 5.0,-6,'MegaMachine'
print('The value of b and c is',b,'and',c,'assigned by',d)

The value of b and c is 5.0 and -6 assigned by MegaMachine

In [ ]:
# Using function in print
print('''
The value of a is {} and type of a is {}
The value of b is {} and type of b is {}
The value of c is {} and type of c is {}
The value of d is "{}" and type of d is {}
'''.format(a,type(a),b,type(b),c,type(c),d,type(d)))

The value of a is 3 and type of a is <class 'int'>
The value of b is 5.0 and type of b is <class 'float'>
The value of c is -6 and type of c is <class 'int'>
The value of d is "MegaMachine" and type of d is <class 'str'>

Deleting variable ---

In [ ]:
# Single
del a
print('The value of a is',a)

NameError: ignored

In [ ]:
# Multiple
del b,c,d

# Python Basic: :Data Types:

**Playing With Numbers**: Numeric Data Type.

In [ ]:
x = 3
print(type(x)) # Prints "<class 'int'>"
print(x) # Prints "3"
print(x + 1) # Addition; prints "4"
print(x - 1) # Subtraction; prints "2"  
print(x * 2) # Multiplication; prints "6"
print(x ** 2) # Exponentiation; prints "9"
x += 1 # x = x + 1 
#x *= 2 # x= x* 2
print(x) # Prints "4"
x *= 2
print(x) # Prints "8"
y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
print(float(3),type(float(3)))
print(int(3.9),type(int(3.9)))
print(int(3.7567),'Vs',round(3.7567,0))

3.0 <class 'float'>
3 <class 'int'>
3 Vs 4.0

**Shorthand** ----

In [ ]:
x,y = -7,9
print('Original:',x)
x += y # Means x = x + y
print('After x += y:',x)
x += 1 # Means x = x + 1 
print('After x += 1:',x)
x *= 2 # Means x = x * 2
print('After x *= 2:',x)

Original: -7
After x += y: 2
After x += 1: 3
After x *= 2: 6

**Floor Division**

In [ ]:
x,y = 4,2
print('Type of x and y is',type(x),'and',type(y))
print('but when <class \'int\'> divided by <class \'int\'> then type of x/y is',type(x/y))
print('thus the value of x/y',x/y,'is float.')
print('to get result in same, i.e int class only we use floor division (i.e "//") so, type of x//y is',type(x//y))
print('and thus the value of x//y',x//y,'is int.')

Type of x and y is <class 'int'> and <class 'int'>
but when <class 'int'> divided by <class 'int'> then type of x/y is <class 'float'>
thus the value of x/y 2.0 is float.
to get result in same, i.e int class only we use floor division (i.e "//") so, type of x//y is <class 'int'>
and thus the value of x//y 2 is int.

In [ ]:
print('Floor Division returns int part of the value --->',5678//100)

Floor Division returns int part of the value ---> 56

In [ ]:
print('Ok above is ok..., but what the hell this is?')
print(0.1 + 0.1 + 0.1 == 0.3)
print('Why??????????????????????')
print(0.1 + 0.1 + 0.1)

Ok above is ok..., but what the hell this is?
False
Why??????????????????????
0.30000000000000004

**Boolean Data Type**: *True or False*

Python implements all of the usual operators for Boolean logic, but uses English
words rather than symbols ( && , || , etc.):

In [ ]:
print(bool(0))
print(bool(1))

False
True

In [ ]:
t = True
f = False
print(type(t)) # Prints "<class 'bool'>"
print(t and f) # Logical AND; prints "False"
print(t or f)  # Logical OR; prints "True"
print(not t)   # Logical NOT; prints "False"
print(t != f)  # Logical XOR; prints "True"

<class 'bool'>
False
True
False
True

**Comparison Operators**  ----- (Return boolean results..)

In [ ]:
print(t == f)
print(2 > 3)
print(2 <= 3)
print(t != f)

False
False
True
True

**Strings**: Python has great support for strings:

In [ ]:
hello = 'hello' # String literals can use single quotes
world = "world" # or double quotes; it does not matter.
print(hello) # Prints "hello"
print(len(hello)) # String length; prints "5"
hw = hello + ' ' + world # String concatenation
print(hw) # prints "hello world"
hw12 = '%s %s %d' % (hello, world, 12) # sprintf style string formatting
print(hw12) # prints "hello world 12"

hello
5
hello world
hello world 12

**Operations On Strings:** String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize()) # Capitalize a string; prints "Hello"
print(s.upper()) # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7)) # Right-justify a string, padding with spaces; prints
print(s.center(7)) # Center a string, padding with spaces; prints " hell
print(s.replace('l', '(ell)')) # Replace all instances of one substring wit
# prints "he(ell)(ell)o"
print(' world '.strip()) # Strip leading and trailing whitespace; prints "

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

#Data Structures: :list, dict, tuples, sets:

**Lists:** A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
xs = [3, 1, 2] # Create a list
print(xs, xs[2]) # Prints "[3, 1, 2] 2"
print(xs[-1]) # Negative indices count from the end of the list; prints
xs[2] = 'foo' # Lists can contain elements of different types
print(xs) # Prints "[3, 1, 'foo']"
xs.append('bar') # Add a new element to the end of the list
print(xs) # Prints "[3, 1, 'foo', 'bar']"
x = xs.pop() # Remove and return the last element of the list
print(x, xs) # Prints "bar [3, 1, 'foo']"

[3, 1, 2] 2
2
[3, 1, 'foo']
[3, 1, 'foo', 'bar']
bar [3, 1, 'foo']

**Slicing:** In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
nums = list(range(5)) # range is a built-in function that creates a list
print(nums) # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4]) # Get a slice from index 2 to 4 (exclusive); print
print(nums[2:]) # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2]) # Get a slice from the start to index 2
print(nums[:]) # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"
print(nums[:-1]) # Slice indices can be negative; prints "[0, 1, 2, 3, 4]"
nums[2:4] = [7,8] # Assign a new sublist to a slice
print(nums) # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 7, 8, 4]

**Loops:** You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
  print(animal)
# Prints "cat", "dog", "monkey", each on its own line.

cat
dog
monkey

**enumerate:** If you want access to the index of each element within the body of a loop, use the built-in enumerate function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
  #print(idx, animal)
  print('#%d: %s' % (idx + 1, animal))
# Prints "#1: cat", "#2: dog", "#3: monkey", each on its own line

#1: cat
#2: dog
#3: monkey

**List comprehensions:** When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
  squares.append(x ** 2)
  # print(squares)
print(squares) # Prints [0, 1, 4, 9, 16]

###You can make this code simpler using a list comprehension:

nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print('By list comprehension: ',squares) # Prints [0, 1, 4, 9, 16]

###List comprehensions can also contain conditions:

nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print('list comprehension: ',even_squares) # Prints "[0, 4, 16]"

[0, 1, 4, 9, 16]
By list comprehension:  [0, 1, 4, 9, 16]
list comprehension:  [0, 4, 16]

**Dictionaries:** A dictionary stores (key, value) pairs, similar to a *Map* in Java or an object in Javascript. You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'} # Create a new dictionary with some dat
print(d['cat']) # Get an entry from a dictionary; prints "cute"
print('cat' in d) # Check if a dictionary has a given key; prints "True"
d['fish'] = 'wet' # Set an entry in a dictionary
print(d) # after new entery
print(d['fish']) # Prints "wet"
# print(d['monkey']) # KeyError: 'monkey' not a key of d
print(d.get('monkey', 'N/A')) # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A')) # Get an element with a default; prints "wet"
del d['fish'] # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"
print(d)

cute
True
{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}
wet
N/A
wet
N/A
{'cat': 'cute', 'dog': 'furry'}

**Loops:** It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
  legs = d[animal]
  print('A %s has %d legs' % (animal, legs))
# Prints "A person has 2 legs", "A cat has 4 legs", "A spider has 8 legs"

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

*If you want access to keys and their corresponding values, use the items method:*

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
  print('A %s has %d legs' % (animal, legs))
# Prints "A person has 2 legs", "A cat has 4 legs", "A spider has 8 legs"

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

**Sets:** A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals) # Check if an element is in a set; prints "True"
print('fish' in animals) # prints "False"
animals.add('fish') # Add an element to a set
print('fish' in animals) # Prints "True"
print(len(animals)) # Number of elements in a set; prints "3"
animals.add('cat') # Adding an element that is already in the set doe
print(len(animals)) # Prints "3"
animals.remove('cat') # Remove an element from a set
print(len(animals)) # Prints "2"

True
False
True
3
3
2

**tuple:** A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
t = (5, 6) # Create a tuple
print(type(t)) # Prints "<class 'tuple'>"
print(t)
print(t[0])

<class 'tuple'>
(5, 6)
5

#Functions:
Python functions are *def* keyword. For example:

In [ ]:
def sign(x):
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'
    
for x in [-1, 0, 1]:
  print(sign(x))
# Prints "negative", "zero", "positive

negative
zero
positive

*We will often define functions to take optional keyword* **arguments**, *like this:*

In [ ]:
def hello(name, loud=False):
  if loud:
    print('HELLO, %s!' % name.upper())
  else:
    print('Hello, %s' % name)

hello('Bob') # Prints "Hello, Bob"
hello('Fred', loud=True) # Prints "HELLO, FRED!"

Hello, Bob
HELLO, FRED!

#Classes: 
The syntax for defining classes in Python is straightforward:

In [ ]:
class Greeter(object):
#class Greeter:

  # Constructor
  def __init__(self, name):
    self.name = name # Create an instance variable
    
  # Instance method
  def greet(self, loud=False):
    if loud:
      print('HELLO, %s!' % self.name.upper())
    else:
      print('Hello, %s' % self.name)

g = Greeter('Fred') # Construct an instance of the Greeter class
g.greet() # Call an instance method; prints "Hello, Fred"
g.greet(loud=True) # Call an instance method; prints "HELLO, FRED!"

Hello, Fred
HELLO, FRED!