<a href="https://colab.research.google.com/github/nav18reet/ML-project/blob/main/Data_Analytics_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Gathering

In [ ]:
!wget "https://www.dropbox.com/s/ykjdfve0ogfzui2/titanic.csv"

Now, You have the .csv file.

### Importing Python Libraries for Data Science

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Reading data**

In [ ]:
titanic = pd.read_csv("titanic.csv")

Dataset is now loaded in a variable called titanic

**Q - How many rows and columns are there?**

In [ ]:
titanic.shape

**Q - Can you tell me the column names?**

In [ ]:
titanic.columns

**Q - Display some data.**

In [ ]:
# head() will display you the first 5 rows of the data.

titanic.head()

**Q - Some information**

In [ ]:
titanic.info()

Something's wrong with Age, Cabin, Embarked columns.

These columns have some Missing Data.

**Handling Missing Data** is an important concept in data science.

**Q - Tell me some satistic properties about data.**

In [ ]:
titanic.describe()

What do you observe from this ?

**Q - Which entry from data is missing.**

In [ ]:
titanic.isnull()

Really bad way of looking at data.

Can we do something better?

In [ ]:
sns.heatmap(titanic.isnull(), yticklabels=False)

Here comes our first visualization.
This graph is called **heatmap**. The color shows the intensity of the number.

False = 0

True = 1

### Let's do more Data Visualisation

**Q - How many people survived/died in titanic?**

In [ ]:
sns.countplot(x="Survived",data=titanic)

This is just like a **bar graph**. Counting the number of elements for survived 1 and 0

**Q - Can you tell is there any relation of people dying with their gender?**

In [ ]:
sns.countplot(x="Survived", data=titanic, hue="Sex")

**Observation :**

Those who died mostly they are men.

While, those who survived mostly they were female.

**Q - is there any relation of people dying with their Pclass?**

In [ ]:
sns.countplot(x="Survived", data=titanic, hue="Pclass")

**Observation :**

Those who died Mostly they were from 3rd class.

But what about those who survived? 
Why the graph is equal for them?

**Q - Plot the histogram of Age column**

In [ ]:
sns.distplot(titanic['Age'])

**Observation :**
The age data is normally distributed.

Approx Average age : 27

**Q - How many people don't have their siblings along with them.**

In [ ]:
sns.countplot(titanic["SibSp"])

**Observation :**

There were almost 600 passangers who were travelling alone.

**Q - How Fare column is distributed.?**

In [ ]:
sns.distplot(titanic['Fare'])

**Observation :**

Most of the passangers bought ticket at a low price.

### Box Plot

**Q - What is the average age of passangers Pclass wise.?**

In [ ]:
sns.boxplot(x="Pclass", y="Age", data=titanic)

**Observation :**

Pclass1 = 38

Pclass2 = 29

Pclass3 = 25

# Handling Missing Values
- Deleting the column
- Deleting the entry/row
- Fill the missing cell
    - Mean (Numerical values)
    - Mode (Categorial values)

In [ ]:
titanic['Age'].fillna(29, inplace = True)

In [ ]:
# No NAN values in Age

sns.heatmap(titanic.isnull(), yticklabels=False)

**Let's delete the Cabin Column**

In [ ]:
titanic.drop('Cabin', axis=1, inplace=True)

In [ ]:
# No NAN values at ALL

sns.heatmap(titanic.isnull(), yticklabels=False)

In [ ]:
titanic.head()

In [ ]:
titanic.info()

There are still 2 rows having missing values in Embarked columne.

Let's delete those rows

In [ ]:
titanic.dropna(inplace=True)

In [ ]:
titanic.head()

**Q - Select only the revelant columns.**

In [ ]:
columns = ['Survived', 'Pclass', "Sex", 'Age', 'SibSp', 'Parch', 'Fare']

titanic = titanic[columns]

In [ ]:
titanic.head()

**Q - Changing categorical variable to numerical variable**

In [ ]:
titanic['Sex'] = titanic['Sex'].astype('category').cat.codes

In [ ]:
titanic.head()

**Observation :**

Male = 1

Female = 0

**Q - Convert Data into input and output variables**

In [ ]:
input_variables = ["Pclass",	"Sex",	"Age",	"SibSp",	"Parch",	"Fare"]
output_variable = "Survived"

In [ ]:
input_data = titanic[input_variables]
output_data = titanic[output_variable]

In [ ]:
input_data.head()

In [ ]:
output_data.head()

# Machine Learning comes Here.!!!